{% set active_page='about'%}
{% set title = "mode d'emploi" %}
{% extends "layout.html" %}
{% block content %}
    <div class="wrapper">
        <div class="row">
            <h1>Mode d'emploi</h1>
        </div>
        <div class="row">
            <div class="col two-third">
                <h3>Mode d'emploi du site</h3>
                <p>Ce site Internet a pour but de présenter des informations détaillées sur l'ensemble des projets et programmes de développement de plus de 100000 euros financés par la France au Mali.</p>
                <h3>Financement</h3>
                <p>Si vous recherchez des subventions pour vos projets d'aide au développement ou souhaitez répondre à des appels d'offres en cours, vous pouvez vous reporter aux sites suivants: <a href="http://osm.org">xxxxx</a></p>
                <h3>Qu'est-ce que le contrôle citoyen</h3>
                <p>Vous pouvez faire part de vos informations ou de vos remarques en complétant le formulaire dédié ou en nous envoyant un message écrit par téléphone portable au (+233) 73 01 32 32</p>
            </div>
            <div class="col third">
                <h3>Parties prenantes</h3>
            </div>
        </div>
    </div>
{% endblock content %}