{% set active_page='about'%}
{% set title = "mode d'emploi" %}
{% extends "layout.html" %}
{% block content %}
    <div class="wrapper">
        <div class="row">
            <h1>Mode d'emploi</h1>
        </div>
        <div class="row">
            <div class="col two-third content mwide">

                <h2>Mode d’emploi du site</h2>
                <p>Ce site internet est une démarche pilote dont l’objectif est de progresser sur la voie d’une plus grande transparence et d’une plus grande efficacité sur la manière dont la France dépense les fonds consacrés à l’aide au Mali. Ce site vise ainsi à&nbsp;:</p>
                <ul>
                    <li>Visualiser l’ensemble des projets d’aide de la France au Mali et les situer sur une carte</li>
                    <li>Permettre le retour des citoyens maliens et français sur ces projets&nbsp;</li>
                    <li>Rendre accessibles et réutilisables ces informations&nbsp;: les données contenues dans ce site sont ouvertes et accessibles à tous (elles répondent aux normes dites «&nbsp; <strong>Opendata</strong>&nbsp;» et à «Initiative internationale pour la transparence de l’aide&nbsp;»)</li>
                </ul>
                <p>Vous pouvez ainsi trouver sur ce site des informations sur l’ensemble des projets et programmes en cours, de plus de 100.000 euros, financés par la France, y compris l’aide humanitaire et l’aide budgétaire. La carte interactive vous permet de visualiser la localisation précise de ces activités. Les différentes zones d’intervention de chaque projet y sont représentées.</p>
                <p>Un tableau récapitulatif recense tous les projets et permet de les trier par secteur, par titre, par organisation ou par financement.</p>
                <p>Chacun des projets est décrit dans une fiche qui détaille ses objectifs, son calendrier, le montant du financement, les opérateurs en charge de sa réalisation et ses bénéficiaires. Sont également précisés les résultats et réalisations attendus, ainsi que son état d’avancement. Ces informations seront mises à jour régulièrement.</p>
                <p>Enfin, vous pouvez nous faire part d’informations sur la mise en œuvre des projets en complétant ce <a href="mailto:transparence-aide.bamako-amba@diplomatie.gouv.fr">formulaire</a> ou en nous envoyant un message écrit par téléphone portable au <a href="tel:+22373013232">(+223) 73 01 32 32</a>. Vous pouvez nous indiquer un éventuel retard ou nous donner votre avis sur la qualité des réalisations. Votre message sera traité de manière confidentielle. Il nous permettra d’améliorer l’efficacité de nos projets.</p>
                <p>Ce site est encore en construction. Une première série de projets a été mise en ligne et sera complétée progressivement.</p>

                <hr />

                <h2>Vous cherchez un financement&nbsp;?</h2>
                <p>Si vous recherchez des subventions ou des financements pour vos projets d’aide au développement ou si vous souhaitez répondre à des appels d’offres en cours, vous pouvez vous reporter aux sites suivants&nbsp;:</p>
                <p>Le site répertoriant l’ensemble des <a href="http://www.boamp.fr/">marchés publics français</a> et celui de de l’<a href="http://afd.dgmarket.com/">Agence française du développement</a></p>
                <p>Pour les financements en provenance des collectivités territoriales, consultez :</p>
                <ul>
                    <li>Le site de la <a href="http://www.cncd.fr/home.asp">Commission nationale de la coopération décentralisée</a></li>
                    <li>Le site de <a href="http://www.cites-unies-france.org/">Cités unies France</a></li>
                    <li>Vous pouvez aussi vous reporter directement au site de la collectivité qui vous intéresse.</li>
                </ul>
                <p>Pour les financements de l’Union européenne, consultez le site <a href="https://webgate.ec.europa.eu/europeaid/online-services/index.cfm?ADSSChck=1278404838604&amp;do=publi.welcome&amp;userlanguage=fr">EuropeAid</a></p>

                <hr />

                <h2>Qu’est-ce que le retour citoyen&nbsp;?</h2>
                <p>Le retour citoyen permet à chaque personne au Mali, en France ou ailleurs, de rendre compte et contribuer à l’amélioration et de la mise en œuvre des projets d’aide publique française au Mali.</p>
                <p>Que vous soyez citoyen, élu, entrepreneur, organisation non gouvernementale etc., à travers le retour citoyen vous pouvez, à la fois&nbsp;:</p>
                <ul>
                    <li>nous faire part d’informations sur la mise en œuvre concrète des projets, nous indiquer un éventuel retard, nous donner votre avis sur la qualité des réalisations ou nous signaler tout autre problème sur un projet;</li>
                    <li>nous demander un complément d’information sur les différents projets, leur cahier des charges et leur mise en œuvre.</li>
                </ul>
                <p>Votre message devra simplement faire référence à un projet spécifique.&nbsp;</p>
                <p>Vous pourrez nous transmettre vos informations et remarques en complétant le <a href="mailto:transparence-aide.bamako-amba@diplomatie.gouv.fr">formulaire</a> ou en nous envoyant un message écrit par téléphone portable au <a href="tel:+22373013232">(+223) 73 01 32 32</a>. Votre message sera traité de manière confidentielle. Une réponse vous sera adressée dans les plus brefs délais.</p>

                <hr />

                <h2>Qu’est-ce que l’initiative pour la transparence de l’aide&nbsp;(IITA)?</h2>

                <p>Pour la première fois pour la France, les données contenues dans ce site répondent au standard international de transparence de l’aide, l’<a ref="http://iatiregistry.org/">Initiative internationale pour la transparence de l’aide (IITA)</a>. Ce standard a été mis en place afin qu’il soit plus facile de retrouver, d’employer et de comparer les informations sur la manière dont nous dépensons les fonds consacrés à l’aide, pour une plus grande transparence. En communiquant en ligne des informations détaillées et accessibles à tous sur l’ensemble de nos projets, la mise en œuvre d’IITA aide les personnes impliquées dans les programmes d’aide à assurer le suivi des aides utilisées, des fins auxquelles les fonds sont octroyés et des résultats obtenus.</p>
            </div>
            <div class="col third content edito mwide">
                <h2>Le mot du Ministre délégué</h2>
                <p>Ministre délégué chargé du Développement, je suis très heureux de vous accueillir sur ces pages. Cet espace a pour objectif de donner des informations concrètes sur les projets et réalisations de la politique française de développement au Mali.</p>
                <p><img src="{{ url_for('static', filename='img/pascal-canfin.jpg') }}" class="fl" height="120">Ce site est une promesse, celle de la transparence en direction des Maliennes et des Maliens, mais également envers les Françaises et les Français qui regrettent trop souvent de ne pas savoir à quoi sert l’aide au développement. 280 millions d’euros, en deux ans, c’est le montant que la France s’est engagée à mettre au service du développement du Mali, lors de la conférence de Bruxelles en mai 2013. Vous trouverez ici l’ensemble des projets financés et de plus en plus détaillées, au fur et à mesure de leurs disponibilités.</p>
                <p>Ces pages sont pour la France une innovation. C’est en effet la première fois qu’un dispositif d’information de cette ampleur est mis en place. C’est aussi la première fois qu’un système d’interpellation est organisé sur internet, ou par SMS, afin de permettre un dialogue entre les citoyennes et les citoyens et les responsables français des politiques de développement.</p>
                <p>Ces pages sont enfin un des symboles de la rénovation de la politique française de développement engagée depuis mai 2012.</p>
                <p>Nous avons ces pages en partage, c’est ensemble que nous les ferons vivre.</p>
                <p><strong>Pascal Canfin</strong> <em>ministre délégué chargé du Développement</em></p>
            </div>
        </div>
    </div>
{% endblock content %}