{% set active_page='index'%}
{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
    <div id="map" class="map"></div>
    <div class="baseline">{{ config.SITE_BASELINE }} <a href="{{ url_for('show_projects') }}">{% trans %}Browse projects{% endtrans %}<span> »</span></a></div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col two-third mwide">
            <div class="wrapper">
                <h2>{% trans %}Last projects{% endtrans %}</h2>
                <ul class="emphasis">
                {% for project in last_projects %}
                    <li><a href="{{ url_for('show_project', iati_identifier=project.id) }}">{{ project.name }}</a> ({{ project.total_budget|piati_money }}) <div>{{ project.description|truncate(100) }}</div><a href="{{ project.url }}" class="right"> {% trans %}See details{% endtrans %}</a></li>
                    {% if not loop.last %}
                    <hr />
                    {% endif %}
                {% endfor%}
                </ul>
            </div>
            <hr />
            <h2>{% trans %}Sectors of activity{% endtrans %}</h2>
            <div id="sectors_chart" class="third col mwide"></div>
            <ul class="two-third col mwide">
            {% for sector in main_sectors %}
                <li>[{{ loop.index }}] <a href="{{ url_for('show_projects') }}#?sectors={{ sector.label }}">{{ sector.label }}</a></li>
            {% endfor%}
            </ul>
        </div>
        <div class="col third mwide">
            <h2>{% trans %}In brief{% endtrans %}</h2>
            <ul>
                <li>{% trans %}Total number of projects{% endtrans %} <strong>{{ projects|length }}</strong></li>
                <li>{% trans %}Total number of active projects{% endtrans %} <strong>{{ active_projects|length }}</strong></li>
                <li>{% trans %}Total budget{% endtrans %} <strong>{{ total_budget|piati_money }}</strong></li>
            </ul>
            <hr />
            <div class="content edito">
                <h2>Le mot du ministre délégué</h2>
                <p><img src="{{ url_for('static', filename='img/pascal-canfin.jpg') }}" class="fl" height="120">Ministre délégué chargé du Développement, je suis très heureux de vous accueillir sur ces pages. Cet espace a pour objectif de donner des informations concrètes sur les projets et réalisations de la politique française de développement au Mali. Ce site est une promesse, celle de la transparence en direction des Maliennes et des Maliens, mais également envers les Françaises et les Français qui regrettent trop souvent de ne pas savoir à quoi sert l’aide au développement… <a href="{{ url_for('about') }}">Lire la suite</a></p>
            </div>
            <hr />
            <h2>Parties prenantes</h2>
            <a href="http://www.diplomatie.gouv.fr"><img src="{{ url_for('static', filename="img/mfa.jpg") }}"></a>
            <a href="http://www.diplomatie.gouv.fr"><img src="{{ url_for('static', filename="img/ministere-economie.png") }}"></a>
            <hr />
            <div class="content">
                <h2>L'Agence française de développement</h2>
                <p><a href="http://www.afd.fr/home/pays/afrique/geo-afr/mali"><img src="{{ url_for('static', filename="img/afd.jpg") }}" width="100" class="fl"></a>Établissement public au cœur du dispositif français de coopération, l’Agence Française de Développement (AFD) agit pour lutter contre la pauvreté et favoriser le développement dans les pays du Sud.</p>
            </div>
            <hr />
        </div>
    </div>
</div>
<script type="text/javascript">
    PiatiMap('map', {{ projects|piati_tojson }});
    PiatiPie('#sectors_chart', {{ main_sectors|tojson }});
</script>

{% endblock %}
