<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta charset=utf-8 />
  <title>{{ config.SITE_NAME }}{% if title %} | {{ title }}{% endif %}</title>
  <meta name="description" content="{{ config.SITE_BASELINE }}">
  <link href="{{url_for('static', filename='css/normalize.css')}}" media="all" rel="stylesheet" type="text/css" />
  <link href="{{url_for('static', filename='css/app.css')}}" media="all" rel="stylesheet" type="text/css" />
  <link href="{{url_for('static', filename='leaflet/leaflet.css')}}" media="all" rel="stylesheet" type="text/css" />
  <link href="{{url_for('static', filename='leaflet/MarkerCluster.css')}}" media="all" rel="stylesheet" type="text/css" />
  <link href="{{url_for('static', filename='d3/d3.slider.css')}}" media="all" rel="stylesheet" type="text/css" />
  <script src="{{url_for('static', filename='leaflet/leaflet-src.js')}}"></script>
  <script src="{{url_for('static', filename='leaflet/leaflet.markercluster-src.js')}}"></script>
  <script src="{{url_for('static', filename='d3/d3.v3.js')}}"></script>
  <script src="{{url_for('static', filename='d3/d3.slider.js')}}"></script>
  <script src="{{url_for('static', filename='js/progress.js')}}"></script>
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
</head>
<body class="{{ body_class }}">
  <header class="wrapper">
    <section class="brand">
      <a href="{{url_for('index')}}" title="Go to the homepage">{{ config.SITE_NAME }}</a>
    </section>
    <section class="menu"><!--
      --><a class="button mwide tthird" href="{{ url_for('show_projects') }}">{% trans %}Browse projects{% endtrans %}</a><!--
      --><a class="button action mwide tthird" href="{{ url_for('feedback') }}{% if project %}#{{ project.name }}{% endif %}">{% trans %}Citizen control{% endtrans %}</a><!--
      --><a href="{{ url_for('about') }}" class="button neutral mwide tthird">{% trans %}About{% endtrans %}</a><!--
    --></section>
  </header>
  {% block content %}
  {% endblock %}
  <footer>
    <div class="row">
      <nav class="col two-third twide">
        <a href="/"><span>{% trans %}Home{% endtrans %}</span></a>
        <a href="{{ url_for('show_projects') }}"><span>{% trans %}Browse projects{% endtrans %}</span></a>
        <a href="/"><span>{% trans %}Citizen control{% endtrans %}</span></a>
        <a href="{{ url_for('about') }}"><span>{% trans %}About{% endtrans %}</span></a>
        <a href="{{ url_for('about') }}#glossary"><span>{% trans %}Glossary{% endtrans %}</span></a>
      </nav>
      <div>
        <a href="{{ config.DOWNLOAD_LINK }}" class="button">⇩ {% trans %}Download row data{% endtrans %}</a>
      </div>
    </div>
    <div class="okfn">
      <a href="http://okfn.org/services/"><span>Created by the Open Knowledge Foundation</span></a>
    </div>
  </footer>
</body>
</html>