<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta charset=utf-8 />
  <title>{{ config.SITE_NAME }}{% if title %} | {{ title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta property="og:url" content="projects">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description or config.SITE_BASELINE }}">
  <meta property="og:site_name" content="{{ config.SITE_NAME }}" />
  <meta name="description" content="{{ description or config.SITE_BASELINE }}">
  <link href="{{url_for('static', filename='css/normalize.css')}}" media="all" rel="stylesheet" type="text/css" />
  <link href="{{url_for('static', filename='css/app.css')}}" media="all" rel="stylesheet" type="text/css" />
  <link href="{{url_for('static', filename='leaflet/leaflet.css')}}" media="all" rel="stylesheet" type="text/css" />
  <link href="{{url_for('static', filename='leaflet/MarkerCluster.css')}}" media="all" rel="stylesheet" type="text/css" />
  <link href="{{url_for('static', filename='d3/d3.slider.css')}}" media="all" rel="stylesheet" type="text/css" />
  <script type="text/javascript">var LOCALE = '{{ config.BABEL_DEFAULT_LOCALE }}';</script>
  <script src="{{url_for('static', filename='leaflet/leaflet-src.js')}}"></script>
  <script src="{{url_for('static', filename='leaflet/leaflet.markercluster-src.js')}}"></script>
  <script src="{{url_for('static', filename='d3/d3.js')}}"></script>
  <script src="{{url_for('static', filename='d3/d3.slider.js')}}"></script>
  <script src="{{url_for('static', filename='js/progress.js')}}"></script>
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
</head>
<body class="{{ body_class }}">
  <header class="wrapper">
    <section class="brand">
      <a title="{% trans %} {% endtrans %}"> {{ config.SITE_NAME }} </a>
    </section>
    <section class="menu"><!--
      --><a class="button action mwide tthird" href="{{ url_for('index') }}">{% trans %}Home{% endtrans %}</a><!--
      --><a class="button mwide tthird" href="{{ url_for('show_projects') }}">{% trans %}Browse projects{% endtrans %}</a><!--
    --></section>
  </header>
  {% block content %}
  {% endblock %}
  <footer>
    <div class="wrapper internal">
      <nav class="col two-third twide">
      </nav>
      <div>
      </div>
    </div>
    <div class="wrapper external">
      <div class="col third parent-site twide" align="left"> &nbsp; &nbsp; <a href="{{ config.PARENT_SITE.url }}">{{ config.PARENT_SITE.label }}</a></div>
      <div class="referent col third twide">
      </div>      
      <div class="col third okfn twide">
      </div>
    </div>
  </footer>
  {% set active_page=active_page %}{# Workaround for Jinja not including globals in included template context #}
  {% include 'analytics.html' %}
</body>
</html>