{% set active_page='projects'%}
{% set title = _("Browse projects") %}
{% set body_class = "browser" %}
{% extends "layout.html" %}

{% block content %}
<div class="wrapper">
  <div class="row">
    <h1>{% trans %}Browse projects{% endtrans %}</h1>
  </div>
  <div class="row">
    <div class="col third filters" id="piatiFilters">
      <h3>{% trans %}Filter projects{% endtrans %}</h3>
    </div>
    <div class="col two-third">
      <nav class="tabs">
        <a href="#tab-data" class="on">{% trans %}List{% endtrans %}</a><!--
        --><a href="#tab-map">{% trans %}Map{% endtrans %}</a><!--
        --><a href="#tab-charts">{% trans %}Visualizations{% endtrans %}</a>
      </nav>
      <div id="tab-map" class="map tab-content"></div>

      <ul id="tab-data" class="tab-content on"></ul>

      <div id="tab-charts" class="tab-content">
        <h3>In number of projects</h3>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript">
    var projects = Projects({{ projects|piati_tojson }});
    var browser = PiatiProjectsBrowser(projects, {});
</script>
{% endblock %}
