{% set active_page='project'%}
{% set title = project.name %}
{% extends "layout.html" %}
{% block content %}

<div class="row">
  <h1>{{ project.name }}</h1>
</div>
<div class="row wrapper">
  <div class="col third">
      <div><strong>{% trans %}Budget{% endtrans %}</strong>: {{ project.total_budget|piati_money }}</div>
      <b>{% trans %}Project ID{% endtrans %}</b>: {{ project.id }}<br />
      <b>{% trans %}Last updated time{% endtrans %}</b>: {{ project.last_updated }}
      {% if project.status %}
        <div><b>{% trans %}Current status{% endtrans %}</b>: {{ project.status }}</div>
      {% endif %}
      <div><strong>{% trans %}Collaboration type{% endtrans %}</strong>: {{ project.collaboration }}</div>
      <div><strong>{% trans %}Tied status{% endtrans %}</strong>: {{ project.tied_status }}</div>
      <div><strong>{% trans %}Flow type{% endtrans %}</strong>: {{ project.flow }}</div>
      <div><strong>{% trans %}Aid category{% endtrans %}</strong>: {{ project.aid_category }}</div>
      <div><strong>{% trans %}Aid type{% endtrans %}</strong>: <a href="{{ url_for('show_projects') }}#?aid_type={{ project.aid_type }}">{{ project.aid_type }}</a></div>
      {% if project.topics %}
        <div>{% trans %}Topics{% endtrans %}: {% for topic in project.topics %} <a class="tag" href="{{ url_for('show_projects') }}#?topic={{ topic }}">{{ topic }}</a>{% endfor %}</div>
      {% endif %}
      <hr />
      <table>
        <caption>{% trans %}Organisations{% endtrans %}</caption>
        <thead>
          <th>{% trans %}Name{% endtrans %}</th>
          <th>{% trans %}Role{% endtrans %}</th>
        </thead>
        {% for org in project.participating_org + [project.reporting_org] %}
          <tr class="{{ loop.cycle('odd', 'even') }}"><td><a href="{{ url_for('show_projects') }}#?orgs={{ org.name }}">{{ org.name }}</a></td><td>{{ org.role }}</td></tr>
        {% endfor %}
      </table>
    <hr />
    <table>
      <caption>{% trans %}Dates{% endtrans %}</caption>
      <thead>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Date{% endtrans %}</th>
      </thead>
      {% for date in project.dates %}
        <tr class="{{ loop.cycle('odd', 'even') }}"><td>{{ date.label }}</td><td>{{ date.value|default('—', true) }}</td></tr>
      {% endfor %}
    </table>
  </div>
  <div class="col two-third">
      <nav class="tabs"><!--
        --><a href="#tab-data" class="on">{% trans %}Overview{% endtrans %}</a><!--
        --><a href="#tab-financial">{% trans %}Financial data{% endtrans %}</a><!--
        --><a href="#tab-results">{% trans %}Results{% endtrans %}</a><!--
    --></nav>

      <div id="tab-data" class="tab-content on">
        {% if project.description %}
          <p>{{ project.description }}</p>
        {% endif %}
        <div id="map" class="map"></div>
        {% if project.sectors %}
        <hr />
        <table>
          <caption>{% trans %}Sectors{% endtrans %}</caption>
          <thead>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Percent{% endtrans %}</th>
            <th>{% trans %}Type{% endtrans %}</th>
          </thead>
          {% for sector in project.sectors %}
            <tr class="{{ loop.cycle('odd', 'even') }}"><td><a href="{{ url_for('show_projects') }}#?sectors={{ sector.name }}">{{ sector.name }}</a></td>
                <td>{{ sector.percentage|default('—', true) }}</td>
                <td>{{ sector.vocabulary|default('—', true) }}</td></tr>
          {% endfor %}
        </table>
        {% endif %}
        <hr />
        <h3>{% trans %}Founding{% endtrans %}</h3>
        <div id="funding-progress" class="progress"></div>
        <h3>{% trans %}Time progress{% endtrans %}</h3>
        <div id="time-progress" class="progress"></div>
      </div>
      <div id="tab-results" class="tab-content">
      {% for result in project.results%}
      <table>
        <caption>{{ result.label }}</caption>
        <thead>
          <th>{% trans %}Indicator{% endtrans %}</th>
          <th>{% trans %}Start{% endtrans %}</th>
          <th>{% trans %}End{% endtrans %}</th>
        </thead>
        {% for indicator in result.indicators %}
          <tr class="{{ loop.cycle('odd', 'even') }}">
            <td>{{ indicator.label }}</td>
            <td>{{ indicator.start }}</td>
            <td>{{ indicator.end }}</td></tr>
        {% endfor %}
      </table>
      <hr />
      {% else %}
        {% trans %}No result has been published at the moment.{% endtrans %}
      {% endfor %}
      </div>
      <div id="tab-financial" class="tab-content">
        <table class="table table-condensed">
          <caption>{% trans %}Financial data{% endtrans %}</caption>
          <thead>
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}Value{% endtrans %}</th>
          </thead>
          <tbody>
          {% for transaction in project.transactions %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
              <td>{{ transaction.type }}</td>
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.value|piati_money }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>    
      </div>
  </div>
</div>

<script type="text/javascript">
  var mapHandler = new PiatiMap('map', [{{ project|piati_tojson }}], {fitBounds: true}),
      tabsHandler = new PiatiTabs();
  tabsHandler.on('show', function () {
    mapHandler.map.invalidateSize();
  });
  tabsHandler.show();
  var funding = [ {label: "", text: "", value: 0},
                  {label: "Depensé jusqu'à présent", text: "{{ project.total_transactions|piati_money }}", value: {{ project.total_transactions }}},
                  {label: "Budget du projet", text: "{{ project.total_budget|piati_money }}", value: {{ project.total_budget }}}]
  charts.progressBar("#funding-progress", funding, function(d) { return d.value; }, function(d) { return d.label; }, function(d) { return d.text; });

</script>

{% endblock %}
