{% set active_page='project'%}
{% set title = project.name %}
{% extends "layout.html" %}
{% block content %}

<div class="row">
  <h1>{{ project.name }}</h1>
</div>
<div class="row wrapper">
  <div class="col third properties">
    <ul>
      <li><strong>{% trans %}Budget{% endtrans %}</strong> {{ project.total_budget|piati_money }}</li>
      <li><strong>{% trans %}Project ID{% endtrans %}</strong> {{ project.id }}</li>
      <li><strong>{% trans %}Last updated time{% endtrans %}</strong> {{ project.last_updated.date() }}</li>
      <li><strong>{% trans %}Current status{% endtrans %}</strong> {{ project.status }}</li>
      <li><strong>{% trans %}Collaboration type{% endtrans %}</strong> {{ project.collaboration }}</li>
      <li><strong>{% trans %}Tied status{% endtrans %}</strong> {{ project.tied_status }}</li>
      <li><strong>{% trans %}Flow type{% endtrans %}</strong> {{ project.flow }}</li>
      <li><strong>{% trans %}Aid type{% endtrans %}</strong> <a href="{{ url_for('show_projects') }}#?aid_type={{ project.aid_type }}">{{ project.aid_type }}</a></li>
    </ul>
    {% if project.topics %}
      <div>{% trans %}Topics{% endtrans %}: {% for topic in project.topics %} <a class="tag" href="{{ url_for('show_projects') }}#?topic={{ topic }}">{{ topic }}</a>{% endfor %}</div>
    {% endif %}
    <hr />
    <table>
      <caption>{% trans %}Organisations{% endtrans %}</caption>
      <thead>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Role{% endtrans %}</th>
      </thead>
      {% for org in project.participating_org + [project.reporting_org] %}
        <tr class="{{ loop.cycle('odd', 'even') }}"><td><a href="{{ url_for('show_projects') }}#?orgs={{ org.name }}">{{ org.name }}</a></td><td>{{ org.role }}</td></tr>
      {% endfor %}
    </table>
    <hr />
    <table>
      <caption>{% trans %}Dates{% endtrans %}</caption>
      <thead>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Date{% endtrans %}</th>
      </thead>
      {% for date in project.dates %}
        <tr class="{{ loop.cycle('odd', 'even') }}"><td>{{ date.label }}</td><td>{{ date.value|default('—', true) }}</td></tr>
      {% endfor %}
    </table>
  </div>
  <div class="col two-third">
      <nav class="tabs">
        <a href="#tab-data" class="quarter on">{% trans %}Overview{% endtrans %}</a>
        <a href="#tab-financial" class="quarter">{% trans %}Financial data{% endtrans %}</a>
        <a href="#tab-results" class="quarter">{% trans %}Results{% endtrans %}</a>
        <a href="#tab-documents" class="quarter">{% trans %}Documents{% endtrans %} ({{ project.documents|count }})</a>
      </nav>

      <div id="tab-data" class="tab-content on">
        {% if project.description %}
          <p>{{ project.description }}</p>
        {% endif %}
        <div id="map" class="map"></div>
        {% if project.sectors %}
        <hr />
        <table>
          <caption>{% trans %}Sectors{% endtrans %}</caption>
          <thead>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Type{% endtrans %}</th>
          </thead>
          {% for sector in project.sectors %}
            <tr class="{{ loop.cycle('odd', 'even') }}"><td><a href="{{ url_for('show_projects') }}#?sectors={{ sector.name }}">{{ sector.name }}</a></td>
                <td>{{ sector.vocabulary|default('—', True) }}</td></tr>
          {% endfor %}
        </table>
        {% endif %}
        <hr />
        {% if project.total_commitment %}
        <h3>{% trans %}Founding{% endtrans %}</h3>
        <div id="funding-progress" class="progress"></div>
        {% endif %}
        {% if project.start_actual %}
          <h3>{% trans %}Time progress{% endtrans %}</h3>
          <div id="time-progress" class="progress"></div>
        {% endif %}
      </div>
      <div id="tab-results" class="tab-content">
      {% for result in project.results%}
      <table>
        <caption>{{ result.label }}</caption>
        <thead>
          <th>{% trans %}Indicator{% endtrans %}</th>
          <th>{% trans %}End{% endtrans %}</th>
        </thead>
        {% for indicator in result.indicators %}
          <tr class="{{ loop.cycle('odd', 'even') }}">
            <td>{{ indicator.label }}</td>
            <td>{{ indicator.end|default('—', True) }}</td></tr>
        {% endfor %}
      </table>
      <hr />
      {% else %}
        {% trans %}No result has been published at the moment.{% endtrans %}
      {% endfor %}
      </div>
      <div id="tab-financial" class="tab-content">
        <table>
          <caption>{% trans %}Financial data{% endtrans %}</caption>
          <thead>
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}Value{% endtrans %}</th>
          </thead>
          <tbody>
          {% for transaction in project.transactions %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
              <td>{{ transaction.type }}</td>
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.value|piati_money }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>    
      </div>
      <div id="tab-documents" class="tab-content">
        {% if project.documents %}
        <table>
          <thead>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Format{% endtrans %}</th>
            <th>{% trans %}Categories{% endtrans %}</th>
          </thead>
        <tbody>
        {% for doc in project.documents %}
          <tr class="{{ loop.cycle('odd', 'even') }}">
            <td><a href="{{ doc.url }}">⇩ {{ doc.title }}</a></td>
            <td>{{ doc.format }}</td>
            <td>{{ doc.categories|join(', ') }}</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
          <p>{% trans %}No document available.{% endtrans %}</p>
        {% endif %}
        </ul>
      </div>
  </div>
</div>

<script type="text/javascript">
  var mapHandler = new PiatiMap('map', [{{ project|piati_tojson }}], {fitBounds: true}),
      tabsHandler = new PiatiTabs({default: "data"}),
      totalCommitment = {{ project.total_commitment|int }}, funding,
      startActual, time;
  tabsHandler.on('show', function (id) {
    switch (id) {
      case "map":
        mapHandler.map.invalidateSize();
        break;
      case "data":
        if (totalCommitment && !funding) {
          funding = [ {label: "", text: "", value: 0},
                          {label: "Depensé jusqu'à présent", text: "{{ project.total_disbursment|piati_money }}", value: {{ project.total_disbursment }}},
                          {label: "Budget du projet", text: "{{ project.total_commitment|piati_money }}", value: totalCommitment}]
          charts.progressBar("#funding-progress", funding, function(d) { return d.value; }, function(d) { return d.label; }, function(d) { return d.text; });
        }
        if (startActual && !time) {
          time = [ {label: "Commencement",
                        text: "{{ project.start_date.date() }}",
                        value: {{ project.start_date|piati_timestamp }}},
                       {label: "Progrès par rapport au calendrier",
                        text: "",
                        value: new Date().getTime()},
                       {label: "Fin",
                        text: "{{ project.end_date.date() }}",
                        value: {{ project.end_date|piati_timestamp }}}];
          charts.progressBar("#time-progress", time, function(d) { return d.value; }, function(d) { return d.label; }, function(d) { return d.text; });
        }
        break;
    };
  });
  tabsHandler.show();

</script>

{% endblock %}
