/* ************************************************* */
/* *********************** FONT ******************** */
/* ************************************************* */
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../font/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../font/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../font/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../font/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../font/OpenSans-LightItalic-webfont.eot');
    src: url('../font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../font/OpenSans-Italic-webfont.eot');
    src: url('../font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Italic-webfont.woff') format('woff'),
         url('../font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../font/OpenSans-ExtraBold-webfont.eot');
    src: url('../font/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../font/OpenSans-BoldItalic-webfont.eot');
    src: url('../font/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ************************************************* */
/* ******************** GENERIC RULES ************** */
/* ************************************************* */
body,
input,
textarea {
  color:#404040;
  color:rgba(0,0,0,0.75);
  font:15px/20px 'open_sansregular', sans-serif;
  -webkit-font-smoothing:antialiased;
}
div, ul, li, a, section, nav,
h1, h2, h3, h4, h5, h6,
hr, input, textarea, footer, header {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
hr {
    clear: both;
    width: 100%;
    height: 0;
    max-width: 980px;
    margin: 28px auto;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
}
ol, ul {
    list-style: none;
}
h2, h3 {
    margin-bottom: 15px;
}
h1 {
    line-height: 1em;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
strong {
    font-family: "open_sansbold";
    font-weight: normal;
}

/* ************************************************* */
/* *********************** GRID ******************** */
/* ************************************************* */
.wrapper {
    width: 100%;
    clear: both;
}
.wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row {
    width: 100%;
    max-width: 1200px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.col {
    float: left;
}
.col + .col {
    padding-left: 20px;
}
.half {
    width: 50%;
}
.third {
    width: 33.33%;
}
.two-third {
    width: 66.66%
}
.wide {
    width: 100%;
    padding-right: inherit;
}


/* ************************************************* */
/* ********************** TABLE ******************** */
/* ************************************************* */

table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}
table th,
table td {
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}
table th {
    font-family:'open_sansbold', sans-serif;
    font-weight: normal;
    vertical-align: bottom;
    font-size: 0.9em;
}
table caption {
    font-family: open_sansbold;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #aaa;
}
table tr {
    line-height: 20px;
    min-height: 20px;
}
table tr.even {
    background-color: #eee;
}
table tr td + td {
    border-left: 1px solid #999;
}
table tr td a {
    color: #222;
}


/* ************************************************* */
/* ********************** HEADER ******************* */
/* ************************************************* */

header {
    min-height: 100px;
    line-height: 100px;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
}
header section {
    display: inline-block;
}
header a {
    text-decoration: none;
    color: #666;
}
header .brand {
    font-size: 2em;
}
header .brand a {
    background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 110px;
    height: 100px;
    line-height: 100px;
    display: block;
}
header .menu {
    float: right;
}
header .menu a + a {
    margin-left: 5px;
}


/* ************************************************* */
/* ********************** FOOTER ******************* */
/* ************************************************* */

footer a {
    color: #666;
    text-decoration: none;
}
footer nav a + a:before {
    content: '•';
    padding: 0 5px;
    text-decoration: none;
}
footer a:hover span {
    text-decoration: underline;
}
footer {
    height: 100px;
    line-height: 100px;
    margin-top: 40px;
    text-align: center;
    border-top: 1px solid #eee;
}
footer .okfn {
    background-color: #222;
}
footer .okfn a {
    background-image: url('../img/okf-logo-small.png');
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 30px;
    padding-right: 30px;
    display: inline-block;
    color: #eee;
}


/* ************************************************* */
/* ********************** FORMS ******************** */
/* ************************************************* */
input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], textarea {
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 56px;
    margin: 0 0 14px;
    padding: 7px;
    width: 100%;
}
input[type="submit"],
.button {
    border: none;
    border-radius: 2px;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    background-color: #09446F;
    display: inline-block;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.button.action {
    background-color: #D2322D;
}
input[type="submit"]:hover,
.button:hover {
    background-color: #222;
}

/* ************************************************* */
/* ************************ HOME ******************* */
/* ************************************************* */

.emphasis hr {
    margin: 5px 0;
}
.emphasis a.right {
    float: none;
    display: block;
    text-align: right;
}
.baseline {
    background-color: #222;
    line-height: 60px;
    text-align: center;
    color: #ccc;
    font-size: 2em;
    font-family: 'open_sanslight';
    padding: 20px 0;
}
.baseline a {
    color: #fff;
    text-decoration: none;
    font-family: 'open_sanssemibold';
}
.baseline a:hover {
    text-decoration: underline;
}
.baseline a span {
    color: #ccc;
}


/* ************************************************* */
/* ************************* MAP ******************* */
/* ************************************************* */

.map {
    width: 100%;
    height: 500px;
}
.marker-cluster {
    background-color: #fff;
    box-shadow: 0 0 7px 0 #000;
}
.marker-cluster div {
    background-color: #09446F;
    color: #fff;
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}


/* ************************************************* */
/* ************************ TABS ******************* */
/* ************************************************* */

.tabs {
    margin: 0;
    padding: 0;
    height: 40px;
    border-radius: 4px;
}
.tabs a {
    display: block;
    color: #fff;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    background-color: #444;
    float: left;
}
.tabs a + a {
    border-left: 1px solid #fff;
}
.tabs a.on {
    background-color: #09446F;
    color: #fff;
}
.tab-content {
    clear: left;
    display: none;
    padding: 10px;
    border: 1px solid #F6F6F6;
}
.tab-content a {
    color: #666;
    text-decoration: none;
}
.tab-content.on {
    display: block;
}
#tab-data .sort {
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 10px;
    text-align: right;
}
#tab-data .sort a {
    cursor: pointer;
}
#tab-data .sort a + a:before {
    content: " | ";
}
#tab-data .sort a.asc:after {
    content: " ▲";
}
#tab-data .sort a.desc:after {
    content: " ▼";
}
#tab-map {
    margin-top: 10px;
}


/* ************************************************* */
/* **************** PROJECTS BROWSER *************** */
/* ************************************************* */

.filters {
    background-color: #fff;
    border: 1px solid #eee;
    margin-top: 40px;
}
.filters h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
}
.filters fieldset {
    margin: 10px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 0;
}
.filters fieldset legend {
    width: calc(100% - 20px);
    text-align: left;
    margin-bottom: 10px;
    background-color: #999;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
}
.filters .inactive span {
    font-style: italic;
    color: #aaa;
}
.filters fieldset label {
    margin: 5px 10px;
    display: none;
}
.filters fieldset.on label {
    display: block;
}
.filters fieldset legend:before {
    content: "▶ ";
}
.filters fieldset.on legend:before {
    content: "▼ ";
}
.filters .total {
    margin: 10px;
    border: 1px solid #eee;
    padding: 5px;
}
.tag {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 2px 10px;
    line-height: 2em;
    text-decoration: none;
    color: #222;
}
li a {
    color: #666;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}


/* ************************************************* */
/* **************** PROJECTS BROWSER *************** */
/* ************************************************* */
.properties {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

/* ************************************************* */
/* ********************* CONTENT ******************* */
/* ************************************************* */

.content p img.fl {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.content p {
    text-align: justify;
}
.content li {
    padding-left: 10px;
    line-height: 1.7em;
}
.content a {
    color: #666;
    text-decoration: underline;
}
.content ul {
    list-style: disc inside;
}
.edito p {
    text-align: left;
    font-family: 'open_sanslight', serif;
}

/* ************************************************* */
/* ********************* CHARTS ******************** */
/* ************************************************* */

.progress {
    height: 150px;
}
.progress svg {
    margin-left: auto;
    margin-right: auto;
}
.progress .max { fill: #D8DCBF; }
.progress .bar { fill: #2B6367; }

.progress .label {
    font-size:14px;
    font-weight: normal;
}

.progress .text {
    font-size:16px;
    font-weight:bold; }

#time-progress .percent {
    font-size:16px;
    font-weight:bold;
    fill: #000; }

.progress .percent {
    font-size:16px;
    font-weight:bold;
    fill: #666666; }

.axis line {
        stroke: #D8DCBF;
}

.donut .arc path {
        stroke: #fff;
        stroke-width: 2px;
}

.legend-item {
        border-bottom: solid 1px #C0C0C0;
        background: #FFF;
}
.piati-chart {
    text-align: center;
}


/* ************************************************* */
/* ********************* CHARTS ******************** */
/* ************************************************* */
@media only screen and (max-width:770px) {
    .twide {
        width: 100%
    }
    .tthird {
        width: 33.3333%;
    }
    header section {
        display: block;
    }
    header {
        padding: 5px;
        line-height: 1em;
        text-align: center;
        margin-bottom: 20px;
    }
    header .menu {
        float: none;
        clear: both;
    }
    header a {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        margin: 0!important;
        text-align: center;
    }
    header section + section {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 639px) {
    .row {
        padding-left: 5px;
        padding-right: 5px;
    }
    .mwide {
        padding-left: 0!important;
        width: 100%;
    }
    .mthird {
        width: 33.3333%;
    }
    header .brand a {
        padding-left: 0;
        padding-top: 60px;
        background-position: center top;
        height: auto;
        line-height: 1.1em;
    }
    footer nav a {
        display: block;
        line-height: 40px;
    }
    footer nav a + a:before {
        content: none;
    }
}
